<h1>All the books from your community</h1>

<nav>
  <a href="/all-books"> All the books</a>
  <a href="/all-books/available">All the available books</a>
</nav>

<ul>
  {{#each books}}
    <li class="one-book">
      <h3>{{title}}</h3>
      <a href="/all-books/{{_id}}/details">See details</a>
      <form action="/all-books/{{_id}}/borrow" method="post">
        <button type="submit"> Borrow this book</button></form>

      <form action="/all-books/{{_id}}/add-wishlist" method="post">
        <button type="submit"> Add to wishlist</button></form>

      <form action="/all-books/{{_id}}/remove-wishlist" method="post">
        <button type="submit"> Remove from wishlist</button></form>

    </li>
  {{/each}}
</ul>