<h2>Book details</h2>


<h3>{{book.title}} by {{book.author}}</h3>
<img src="{{book.image}}" alt="photo-book" width= "200px">
<div>
    <span>Genre: </span>{{book.genre}} <br>
    <span>Comment: </span> {{book.comment}} <br>
    <span>Owner: </span>{{book.owner.name}} {{book.owner.lastname}} <br>
    <span>Status: </span>{{book.status}} <br>
</div>