  {{#unless canStillBorrow}}
<p class="book-limit-message">You are at your book limit. You cannot borrow more books at the moment.</p>
{{/unless}}

<section>

<nav id="nav-all-books">
     <form action="/all-books/filter" method="get">
 <input type="text" placeholder="Search by title or author" name="search">
        <button type="submit">OK</button></form>
  <a href="/all-books"> All the books</a>
  <a href="/all-books/available">All the available books</a>

</nav>



<div>


 {{#unless books}}
      No results for your research !
{{/unless}}

<ul id="all-books">
  {{#each books}}
    <li class="one-book {{#ifEquals status 'borrowed' 'grey-card'}}{{/ifEquals}}"> 
      <div id="container-image">
        <a href="/all-books/{{_id}}/details" ><img src="{{image}}" alt="image-photo" width="200px" title= "comment from the owner : {{comment}}"></a>
      </div>
      
      <a href="/all-books/{{_id}}/details" class="title-book" ><h3>{{title}}<br>by {{author}}</h3></a>
  
      <a href="/all-books/{{_id}}/details" ><u>See details</u></a>

      {{#if ../canStillBorrow}}
      <form action="/all-books/{{_id}}/borrow" method="post">
        <button type="submit" class="borrow-button active"> Borrow this book</button></form>
      {{/if}}
<h4>Currently borrowed</h4>
{{#unless ../currentUser}}
<form action="/all-books/{{_id}}/add-wishlist"  method="post" ><button type="submit" class="add-wishlist"> <i id="far" class="far fa-heart fa-2x"></i><i id="fas" class="fas fa-heart fa-2x"></i></button></form>
        {{else}}
        {{#isInWishlist ../user }}
        {{/isInWishlist}}
  {{/unless}}
      
    </li>
  {{/each}}
</ul>
</div>

</section>