<h2>Got something wrong? Edit your book information</h2>
<form action="/dashboard/{{book._id}}/edit-book" method="post" enctype="multipart/form-data">
    <div>
        <label >Title</label>
        <input type="text" name="title" value="{{book.title}}">
    </div>

    <div>
        <label >Author</label>
        <input type="text" name="author" value="{{book.author}}">
    </div>

    <div>
        <label >Genre</label>
        <select type="text" name="genre">
            {{#each allGenres}}
                <option {{#ifEquals this ../book.genre 'selected'}}{{/ifEquals}} value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div>

    <div>
        <label >Image</label>
        <input input type="file"  name="image" value="{{book.image}}" >
    </div>

        <div>
        <label >Optional: what did you think about this book?</label>
        <input type="text" name="comment" value="{{book.comment}}" maxlength="600">
    </div>

    <button>OK</button>
</form>