<div class="toolbar">
    {{> toolbar }}
</div>

<div class="dashboard-books-container">

    <h1>My library</h1>
    <h2>All of my lent books</h2>

    {{#unless books}}
    <p>All of your books are home!</p>
    {{/unless}}

    <ul>
    {{#each books}}
        <li class="one-book">
            <img src="{{image}}" alt="book image" width="200px">
            <div class="one-book-info">
                <h4>{{title}}</h4>
                <p>{{author}}</p>
                <div class="one-book-buttons">
                    <a href="/dashboard/{{_id}}/edit-book">Edit<i class="fa fa-edit table-icon"></i></a>
                    <a href="/dashboard/{{_id}}/delete-book">Delete<i class="fa fa-trash table-icon"></i></a>
                        <form action="/dashboard/{{_id}}/available" method="post">
                    <button type="submit">I got this book back</button></form>
                
                </div>
            </div>
        </li>
    {{/each}}
    </ul>

</div>