<div class="toolbar">
{{> toolbar }}
</div>

<div class="dashboard-books-container">


    <h1>My library</h1>

    <div class="dashboard-msg">

        <a class="dashboard-link" href="/dashboard/lended-library">Show only lent books</a>
        {{#unless books}}
                <p>Your library is empty!</p>
                 {{/unless}}
            <a href="/dashboard/create-book" class="add-book">Add a book</a>
             </div>
        

       

   

    <ul>
    {{#each books}}
        <li class="one-book">
            <div id="image-container">
<img src="{{image}}" alt="book image">
            </div>
            
            <div class="one-book-info">
                <h4>{{title}}</h4>
                <h4>by {{author}}</h4>
                <div class="one-book-buttons">
                    <a href="/dashboard/{{_id}}/edit-book"><i class="fa fa-edit table-icon "></i></a>
                    <a href="/dashboard/{{_id}}/delete-book"><i class="fa fa-trash table-icon "></i></a>
                </div>
                <form action="/dashboard/{{_id}}/available" method="post">
                <button type="submit" class="back-book-library {{#ifEquals status 'borrowed' 'grey-card'}}{{/ifEquals}}">I got this book back</button></form>
            </div>
        </li>
    {{/each}}
    </ul>



</div>

