<div class="toolbar">
{{> toolbar }}
</div>

<div class="dashboard-books-container">


    <h1>My library</h1>

    <div class="dashboard-msg">

        <a class="dashboard-link" href="/dashboard/lended-library">Show only lent books</a>

        {{#unless books}}
        <p>Your library is empty!</p>
        {{/unless}}

    </div>

    <ul>
    {{#each books}}
        <li class="one-book">
            <img src="{{image}}" alt="book image">
            <div class="one-book-info">
                <h4>{{title}}</h4>
                <p>{{author}}</p>
                <div class="one-book-buttons">
                    <a href="/dashboard/{{_id}}/edit-book">Edit<i class="fa fa-edit table-icon"></i></a>
                    <a href="/dashboard/{{_id}}/delete-book">Delete<i class="fa fa-trash table-icon"></i></a>
                </div>
            </div>
        </li>
    {{/each}}
    </ul>

    <a href="/dashboard/create-book">Add a book</a>

</div>

